/* För knappar - Standard ljus tema */
.ommig .btn {
  background-color: #e74c3c; 
  color: white;
  padding: 15px 30px;
  font-size: 1.1rem; 
  font-weight: 600;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* För knappar - Mörkt tema */
body.dark .ommig .btn {
  background-color : #e74c3c;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}


.ommig .btn:hover {
  background-color: #9e2e21;
}

/* För Instagram-ikon - Standard ljus tema */
.instagram-btn {
  color: #007bff;
  font-size: 2rem;
  margin-top: 10px;
  transition: color 0.3s ease;
}


body.dark .instagram-btn {
  color: #ccc;
}


.instagram-btn:hover {
  color: #0056b3;
}

.ommig {
  font-family: 'Arial', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}


.ommig h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.ommig p {
  padding: 20px;
  font-size: 1.2rem;
  max-width: 600px;
  line-height: 1.6;
  margin: 0 auto;
  opacity: 0.9;
}

.ommig p2 {
  padding: 40px;
  font-size: 1.2rem;
  max-width: 600px;
  line-height: 1.6;
  margin: 0 auto;
  opacity: 0.9;
}
